@font-face {
  font-family: 'HNeue';
  src: url('../fonts/helveticaneue.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'HNeue';
  src: url('../fonts/helveticaneuebold.woff') format('woff');
  font-weight: bold;
}

$background: #f5f5f5;
$copy: #000;

body {
  background: linear-gradient(to bottom, #606c88 0%, #24438d 100%);
  min-height: 100vh;
  font-family: 'HNeue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $copy;
}

#mainAppWrapper {
  font-weight: 400;
  margin: auto;
  max-width: 840px;
  background: $background;
  padding: 30px;
  box-sizing: border-box;
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: space-between;
  h1 {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    font-size: 18px;
    strong {
      font-size: 35px;
      font-weight: bold;
      font-weight: 700; 
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-right: 8px;
    }    
  }
  label {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 30px;
  }
}

#host-list { 
  margin-top: 23px;
  margin-bottom: -30px;
  .gridLayout & {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    > li {
      -ms-flex: 0 1 375px;
      flex: 0 1 375px;
      margin: 0 15px;
      box-sizing: border-box;
    }
  }
}
.host {
  margin-bottom: 30px;
}