$color: #4a4a4a;
.applicationData {
  color: $color;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;
  span {
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    &.apdex {
      font-size: 13px;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px;
    }
  }
}